body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: #0d6efd; /* color azul Bootstrap */
}

section {
  scroll-margin-top: 70px; /* evita que el menú cubra la sección al hacer clic en enlaces */
}
